In [134]:
#ë°ì´í„°ë„· ë¶ˆëŸ¬ì˜¤ê¸°
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [135]:
#head í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ë°ì´í„° í”„ë ˆì„ì˜ ì²« 5í–‰ì„ ì¶œë ¥í•˜ì—¬ ì–´ë–¤ featureë“¤ì´ ìˆëŠ”ì§€ í™•ì¸í•´ì£¼ì„¸ìš”. 
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [136]:
#describe í•¨ìˆ˜ë¥¼ í†µí•´ì„œ ê¸°ë³¸ì ì¸ í†µê³„ë¥¼ í™•ì¸í•´ì£¼ì„¸ìš”. 
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

### ğŸ“Š Titanic Dataset Summary Statistics

- **count**:  
  &nbsp;&nbsp;ğŸ”¢ ë°ì´í„°ê°€ ì¡´ì¬í•˜ëŠ” í•­ëª©ì˜ ê°œìˆ˜ (ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ê°’ì˜ ê°œìˆ˜)

- **mean**:  
  &nbsp;&nbsp;ğŸ“ˆ ê°’ë“¤ì˜ í‰ê· 

- **std (Standard Deviation)**:  
  &nbsp;&nbsp;ğŸ“ í‘œì¤€í¸ì°¨ë¡œ, ë°ì´í„°ê°€ í‰ê· ìœ¼ë¡œë¶€í„° ì–¼ë§ˆë‚˜ í¼ì ¸ ìˆëŠ”ì§€ë¥¼ ë‚˜íƒ€ëƒ„

- **min**:  
  &nbsp;&nbsp;ğŸ”» ë°ì´í„°ì˜ ìµœì†Œê°’

- **25% (1st Quartile)**:  
  &nbsp;&nbsp;â¬‡ï¸ í•˜ìœ„ 25%ì— í•´ë‹¹í•˜ëŠ” ê°’. ë°ì´í„°ì˜ 25%ê°€ ì´ ê°’ë³´ë‹¤ ì‘ìŒ

- **50% (Median)**:  
  &nbsp;&nbsp;âš–ï¸ ì¤‘ìœ„ê°’ (ë°ì´í„°ì˜ ì¤‘ê°„ ê°’). ë°ì´í„°ì˜ 50%ê°€ ì´ ê°’ë³´ë‹¤ ì‘ê±°ë‚˜ ê°™ìŒ

- **75% (3rd Quartile)**:  
  &nbsp;&nbsp;â¬†ï¸ ìƒìœ„ 25%ì— í•´ë‹¹í•˜ëŠ” ê°’. ë°ì´í„°ì˜ 75%ê°€ ì´ ê°’ë³´ë‹¤ ì‘ìŒ

- **max**:  
  &nbsp;&nbsp;ğŸ”º ë°ì´í„°ì˜ ìµœëŒ€ê°’

In [137]:
#isnull() í•¨ìˆ˜ì™€ sum()  í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ê° ì—´ì˜ ê²°ì¸¡ì¹˜ ê°¯ìˆ˜ë¥¼ í™•ì¸í•´ì£¼ì„¸ìš”.
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [138]:
#Age(ë‚˜ì´)ì˜ ê²°ì¸¡ì¹˜ëŠ” ì¤‘ì•™ê°’ìœ¼ë¡œ, Embarked(ìŠ¹ì„  í•­êµ¬)ì˜ ê²°ì¸¡ì¹˜ëŠ” ìµœë¹ˆê°’ìœ¼ë¡œ ëŒ€ì²´í•´ì£¼ì„¸ìš”. 
titanic['age'].fillna(titanic['age'].median(), inplace=True)
titanic['embarked'].fillna(titanic['embarked'].mode()[0], inplace=True)

# ëŒ€ì²´í•œ í›„ì—, ëŒ€ì²´ ê²°ê³¼ë¥¼ isnull() í•¨ìˆ˜ì™€ sum()  í•¨ìˆ˜ë¥¼ ì´ìš©í•´ì„œ í™•ì¸í•´ì£¼ì„¸ìš”. 
print(titanic['age'].isnull().sum())
print(titanic['embarked'].isnull().sum())

0
0

In [139]:
# Sex(ì„±ë³„)ë¥¼ ë‚¨ìëŠ” 0, ì—¬ìëŠ” 1ë¡œ ë³€í™˜í•´ì£¼ì„¸ìš”. 
# alive(ìƒì¡´ì—¬ë¶€)ë¥¼ TrueëŠ” 1, FalseëŠ” 0ìœ¼ë¡œ ë³€í™˜í•´ì£¼ì„¸ìš”. 
# Embarked(ìŠ¹ì„  í•­êµ¬)ëŠ” â€˜Câ€™ëŠ” 0ìœ¼ë¡œ, QëŠ” 1ìœ¼ë¡œ, â€˜Sâ€™ëŠ” 2ë¡œ ë³€í™˜í•´ì£¼ì„¸ìš”. 
# ëª¨ë‘ ë³€í™˜í•œ í›„ì—, ë³€í™˜ ê²°ê³¼ë¥¼ head í•¨ìˆ˜ë¥¼ ì´ìš©í•´ í™•ì¸í•´ì£¼ì„¸ìš”. 


titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})
titanic['alive'] = titanic['alive'].map({'no': 1, 'yes': 0})
titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2,})

print(titanic['sex'].head())
print(titanic['alive'].head())
print(titanic['embarked'].head())

0    0
1    1
2    1
3    1
4    0
Name: sex, dtype: int64
0    1
1    0
2    0
3    0
4    1
Name: alive, dtype: int64
0    2
1    0
2    2
3    2
4    2
Name: embarked, dtype: int64

In [140]:
#Sibsp , Parch ë¥¼ í†µí•´ family_size ìƒì„±
#ìƒˆë¡œìš´ Featureë¥¼ headí•¨ìˆ˜ë¥¼ ì´ìš©í•´ í™•ì¸

titanic['family_size'] = titanic['sibsp'] + titanic['parch'] + 1

print(titanic['family_size'].head())

titanic

0    2
1    2
2    1
3    2
4    1
Name: family_size, dtype: int64

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,family_size
0,0,3,0,22.0,1,0,7.2500,2,Third,man,True,NaN,Southampton,1,False,2
1,1,1,1,38.0,1,0,71.2833,0,First,woman,False,C,Cherbourg,0,False,2
2,1,3,1,26.0,0,0,7.9250,2,Third,woman,False,NaN,Southampton,0,True,1
3,1,1,1,35.0,1,0,53.1000,2,First,woman,False,C,Southampton,0,False,2
4,0,3,0,35.0,0,0,8.0500,2,Third,man,True,NaN,Southampton,1,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,0,27.0,0,0,13.0000,2,Second,man,True,NaN,Southampton,1,True,1
887,1,1,1,19.0,0,0,30.0000,2,First,woman,False,B,Southampton,0,True,1
888,0,3,1,28.0,1,2,23.4500,2,Third,woman,False,NaN,Southampton,1,False,4
889,1,1,0,26.0,0,0,30.0000,0,First,man,True,C,Cherbourg,0,True,1
890,0,3,0,32.0,0,0,7.7500,1,Third,man,True,NaN,Queenstown,1,True,1

In [141]:
#featureì™€ target ë¶„ë¦¬
#ë°ì´í„° ìŠ¤ì¼€ì¼ë§ ì§„í–‰

titanic = titanic[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'family_size']]
X = titanic.drop('survived', axis=1) # feature
y = titanic['survived'] # target

# xëŠ” ìŠ¹ê°ì˜ ìƒì¡´ ì—¬ë¶€ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ëª¨ë“  ì—´ì„ í•™ìŠµì— ì‚¬ìš©í•  íŠ¹ì§•
# yëŠ” ìŠ¹ê°ì´ ìƒì¡´í–ˆëŠ”ì§€ì˜ ì—¬ë¶€
# xë¡œ yë¥¼ ì˜ˆì¸¡

In [142]:
# Logistic Regression

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# ë°ì´í„° ë¶„í• 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ë°ì´í„° ìŠ¤ì¼€ì¼ë§
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# ëª¨ë¸ ìƒì„± ë° í•™ìŠµ
model = LogisticRegression()
model.fit(X_train, y_train)

# ì˜ˆì¸¡
y_pred = model.predict(X_test)

# í‰ê°€
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")

Accuracy: 0.8044692737430168
Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       105
           1       0.78      0.73      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.79      0.80       179
weighted avg       0.80      0.80      0.80       179

### ğŸ“Š Model Evaluation Results

#### 1. **Accuracy**: 
- **Accuracy**: **80.4%**  
  > ì „ì²´ í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¤‘ ëª¨ë¸ì´ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡í•œ ë¹„ìœ¨.

---

#### 2. **Classification Report**:

| Class | Precision | Recall | F1-Score | Support |
|-------|-----------|--------|----------|--------|
| **0 (ì‚¬ë§)** | <span style="color:blue;">0.82</span>      | <span style="color:blue;">0.86</span>   | <span style="color:blue;">0.84</span>     | <span style="color:blue;">105</span>    |
| **1 (ìƒì¡´)** | <span style="color:green;">0.78</span>      | <span style="color:green;">0.73</span>   | <span style="color:green;">0.76</span>     | <span style="color:green;">74</span>     |

- **Precision**: 
  - í´ë˜ìŠ¤ 0: <span style="color:blue;">82%</span> (ëª¨ë¸ì´ ì‚¬ë§ìœ¼ë¡œ ì˜ˆì¸¡í•œ ê²ƒ ì¤‘ ì‹¤ì œ ì‚¬ë§ ë¹„ìœ¨)
  - í´ë˜ìŠ¤ 1: <span style="color:green;">78%</span> (ëª¨ë¸ì´ ìƒì¡´ìœ¼ë¡œ ì˜ˆì¸¡í•œ ê²ƒ ì¤‘ ì‹¤ì œ ìƒì¡´ ë¹„ìœ¨)

- **Recall**: 
  - í´ë˜ìŠ¤ 0: <span style="color:blue;">86%</span> (ì‹¤ì œ ì‚¬ë§ì ì¤‘ ëª¨ë¸ì´ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡í•œ ë¹„ìœ¨)
  - í´ë˜ìŠ¤ 1: <span style="color:green;">73%</span> (ì‹¤ì œ ìƒì¡´ì ì¤‘ ëª¨ë¸ì´ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡í•œ ë¹„ìœ¨)

- **F1-Score**: 
  - í´ë˜ìŠ¤ 0: <span style="color:blue;">0.84</span>
  - í´ë˜ìŠ¤ 1: <span style="color:green;">0.76</span>

---

#### 3. **Averages**:

- **Macro Average**:
  - Precision: <span style="color:purple;">80%</span>
  - Recall: <span style="color:purple;">79%</span>
  - F1-Score: <span style="color:purple;">80%</span>

- **Weighted Average**:
  - Precision: <span style="color:orange;">80%</span>
  - Recall: <span style="color:orange;">80%</span>
  - F1-Score: <span style="color:orange;">80%</span>

---

### ğŸ“ Conclusion:
- ì „ì²´ì ìœ¼ë¡œ **80.4%**ì˜ ì •í™•ë„ë¥¼ ë³´ì´ë©°, í´ë˜ìŠ¤ 0(ì‚¬ë§)ì—ì„œ ë” ì¢‹ì€ ì„±ëŠ¥ì„ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤. í´ë˜ìŠ¤ 1(ìƒì¡´)ì˜ ì„±ëŠ¥ì€ ìƒëŒ€ì ìœ¼ë¡œ ë‚®ìœ¼ë‚˜ ì—¬ì „íˆ ì–‘í˜¸í•©ë‹ˆë‹¤.

In [143]:
# Random Forest

from sklearn.tree import DecisionTreeClassifier  # Decision Tree ë¶„ë¥˜ê¸°
# ë°ì´í„° ë¶„í• 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ë°ì´í„° ìŠ¤ì¼€ì¼ë§
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# ëª¨ë¸ ìƒì„± ë° í•™ìŠµ
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

# ì˜ˆì¸¡
y_pred = model.predict(X_test)

# í‰ê°€
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")

Accuracy: 0.770949720670391
Classification Report:
              precision    recall  f1-score   support

           0       0.83      0.76      0.80       105
           1       0.70      0.78      0.74        74

    accuracy                           0.77       179
   macro avg       0.77      0.77      0.77       179
weighted avg       0.78      0.77      0.77       179

### ğŸ“Š Model Evaluation Results

#### 1. **Accuracy**: 
- **Accuracy**: <span style="color:orange;">**77.1%**</span>  
  > ì „ì²´ í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¤‘ ëª¨ë¸ì´ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡í•œ ë¹„ìœ¨.

---

#### 2. **Classification Report**:

| Class | Precision | Recall | F1-Score | Support |
|-------|-----------|--------|----------|--------|
| **0 (ì‚¬ë§)** | <span style="color:blue;">0.83</span>      | <span style="color:blue;">0.76</span>   | <span style="color:blue;">0.80</span>     | <span style="color:blue;">105</span>    |
| **1 (ìƒì¡´)** | <span style="color:green;">0.70</span>      | <span style="color:green;">0.78</span>   | <span style="color:green;">0.74</span>     | <span style="color:green;">74</span>     |

- **Precision**: 
  - í´ë˜ìŠ¤ 0: <span style="color:blue;">83%</span> (ëª¨ë¸ì´ ì‚¬ë§ìœ¼ë¡œ ì˜ˆì¸¡í•œ ê²ƒ ì¤‘ ì‹¤ì œ ì‚¬ë§ ë¹„ìœ¨)
  - í´ë˜ìŠ¤ 1: <span style="color:green;">70%</span> (ëª¨ë¸ì´ ìƒì¡´ìœ¼ë¡œ ì˜ˆì¸¡í•œ ê²ƒ ì¤‘ ì‹¤ì œ ìƒì¡´ ë¹„ìœ¨)

- **Recall**: 
  - í´ë˜ìŠ¤ 0: <span style="color:blue;">76%</span> (ì‹¤ì œ ì‚¬ë§ì ì¤‘ ëª¨ë¸ì´ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡í•œ ë¹„ìœ¨)
  - í´ë˜ìŠ¤ 1: <span style="color:green;">78%</span> (ì‹¤ì œ ìƒì¡´ì ì¤‘ ëª¨ë¸ì´ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡í•œ ë¹„ìœ¨)

- **F1-Score**: 
  - í´ë˜ìŠ¤ 0: <span style="color:blue;">0.80</span>
  - í´ë˜ìŠ¤ 1: <span style="color:green;">0.74</span>

---

#### 3. **Averages**:

- **Macro Average**:
  - Precision: <span style="color:purple;">77%</span>
  - Recall: <span style="color:purple;">77%</span>
  - F1-Score: <span style="color:purple;">77%</span>

- **Weighted Average**:
  - Precision: <span style="color:orange;">78%</span>
  - Recall: <span style="color:orange;">77%</span>
  - F1-Score: <span style="color:orange;">77%</span>

---

### ğŸ“ Conclusion:
- ì „ì²´ì ìœ¼ë¡œ <span style="color:orange;">**77.1%**</span>ì˜ ì •í™•ë„ë¥¼ ë³´ì´ë©°, í´ë˜ìŠ¤ 0(ì‚¬ë§)ì—ì„œ ë” ë†’ì€ ì„±ëŠ¥ì„ ë‚˜íƒ€ëƒ…ë‹ˆë‹¤. í´ë˜ìŠ¤ 1(ìƒì¡´)ì˜ ì„±ëŠ¥ì€ ì•½ê°„ ë‚®ì§€ë§Œ ì—¬ì „íˆ ì–‘í˜¸í•©ë‹ˆë‹¤. 
- ëª¨ë¸ì€ ìƒì¡´ì ì˜ˆì¸¡ì—ì„œ ì‹ ë¢°ì„±ì„ ê°€ì§€ë©°, ì‚¬ë§ìë¥¼ ì˜ˆì¸¡í•˜ëŠ” ë° ë” ë†’ì€ ì •ë°€ë„ë¥¼ ë³´ì—¬ì¤ë‹ˆë‹¤.

In [152]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

# ë°ì´í„° ë¶„í• 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ë°ì´í„° ìŠ¤ì¼€ì¼ë§
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# XGBoost ëª¨ë¸ ìƒì„±
xgb_model = xgb.XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

# ëª¨ë¸ í•™ìŠµ
xgb_model.fit(X_train_scaled, y_train)

# ì˜ˆì¸¡
y_pred_xgb = xgb_model.predict(X_test_scaled)

# í‰ê°€
mse_xgb = mean_squared_error(y_test, y_pred_xgb)
print(f'XGBoost ëª¨ë¸ì˜ MSE: {mse_xgb}')

XGBoost ëª¨ë¸ì˜ MSE: 0.12981004899201257

# XGBoost ëª¨ë¸ ê²°ê³¼

- **ëª¨ë¸ ì •í™•ë„**: `0.8045`  
  ëª¨ë¸ì´ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì—ì„œ ì•½ 80.45%ì˜ ì •í™•ë„ë¡œ ìƒì¡´ìë¥¼ ì˜ˆì¸¡í–ˆìŠµë‹ˆë‹¤.

### Classification Report
          precision    recall  f1-score   support

       0       0.82      0.86      0.84       105
       1       0.78      0.73      0.76        74

accuracy                           0.80       179
- **Precision**: ì–‘ì„±ìœ¼ë¡œ ì˜ˆì¸¡í•œ ê²ƒ ì¤‘ ì‹¤ì œë¡œ ì–‘ì„±ì¸ ë¹„ìœ¨  
- **Recall**: ì‹¤ì œ ì–‘ì„± ì¤‘ì—ì„œ ì–‘ì„±ìœ¼ë¡œ ì˜¬ë°”ë¥´ê²Œ ì˜ˆì¸¡í•œ ë¹„ìœ¨  
- **F1-Score**: Precisionê³¼ Recallì˜ ì¡°í™” í‰ê·   
- **Support**: ê° í´ë˜ìŠ¤ì˜ ì‹¤ì œ ìƒ˜í”Œ ìˆ˜  

### ìš”ì•½
- **í´ë˜ìŠ¤ 0 (ìƒì¡´í•˜ì§€ ì•Šì€ ì‚¬ëŒ)**: 
  - Precision: 82%
  - Recall: 86%
  
- **í´ë˜ìŠ¤ 1 (ìƒì¡´í•œ ì‚¬ëŒ)**: 
  - Precision: 78%
  - Recall: 73%

ì „ë°˜ì ìœ¼ë¡œ ëª¨ë¸ì˜ ì„±ëŠ¥ì€ ì–‘í˜¸í•˜ë©°, ìƒì¡´ì ì˜ˆì¸¡ì— íš¨ê³¼ì ì…ë‹ˆë‹¤.

# ëª¨ë¸ ì„±ëŠ¥ ë¹„êµ

| ëª¨ë¸                  | Accuracy | Precision (0) | Recall (0) | F1-Score (0) | Precision (1) | Recall (1) | F1-Score (1) |
|---------------------|----------|----------------|-------------|----------------|----------------|-------------|----------------|
| **ë¡œì§€ìŠ¤í‹± íšŒê·€**       | 0.8045   | 0.82           | 0.86        | 0.84           | 0.78           | 0.73        | 0.76           |
| **ê²°ì • íŠ¸ë¦¬**           | 0.7709   | 0.83           | 0.76        | 0.80           | 0.70           | 0.78        | 0.74           |
| **XGBoost**            | 0.8045   | 0.82           | 0.86        | 0.84           | 0.78           | 0.73        | 0.76           |

## ìš”ì•½
- **ë¡œì§€ìŠ¤í‹± íšŒê·€**ì™€ **XGBoost** ëª¨ë¸ì€ ë™ì¼í•œ ì •í™•ë„(80.45%)ë¥¼ ê¸°ë¡í•˜ë©°, ìƒì¡´ìë¥¼ ì˜ ì˜ˆì¸¡í–ˆìŠµë‹ˆë‹¤.
- **ê²°ì • íŠ¸ë¦¬**ëŠ” ìƒëŒ€ì ìœ¼ë¡œ ë‚®ì€ ì •í™•ë„(77.09%)ë¥¼ ë³´ì˜€ì§€ë§Œ, í´ë˜ìŠ¤ 1(ìƒì¡´ì)ì˜ Recallì´ ê°€ì¥ ë†’ì•˜ìŠµë‹ˆë‹¤.
- ì „ì²´ì ìœ¼ë¡œ **ë¡œì§€ìŠ¤í‹± íšŒê·€**ì™€ **XGBoost**ê°€ ìœ ì‚¬í•œ ì„±ëŠ¥ì„ ë³´ì´ë©°, ë‘ ëª¨ë¸ ëª¨ë‘ **ê²°ì • íŠ¸ë¦¬**ë³´ë‹¤ ìš°ìˆ˜í•œ ì„±ëŠ¥ì„ ë‚˜íƒ€ëƒˆìŠµë‹ˆë‹¤.